.input__selection {
  display: flex;
  flex-wrap: wrap;
}

.input__wrapper {
  display: flex;
  width: 500px;
  border: 1px solid;
  padding: 7px;
  cursor: text;
}

.input__selection div {
  padding: 5px;
}

input {
  border:none;
  outline: none;
}

li {
  cursor: pointer;
}